<% include ../partials/header.ejs %>

<h1><%= article.title %></h1>

<div class="well">
  <p><%= article.body %></p>
</div>

<a href="/articles">&larr; Back to Articles</a>

<% include ../partials/footer.ejs %>
