<% include partials/header.ejs %>

<h1>Welcome to the Daily Planet!</h1>

<a href="/articles" class="btn btn-primary">View all Articles</a>

<a href="/tacos/5" class="delete-link">Delete taco 5</a>

<% include partials/footer.ejs %>
