<% include ../partials/header.ejs %>

<ul>
	<% myArticles.forEach(function(article) {  %>
		<li> <%= article.title %> is a <%= article.content %></li>
		<% }); %>
</ul>

<% include ../partials/footer.ejs %>