<h1>Search moving pictures!</h1>

<form action="/movies" method="GET" role="form">
 

  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="ex. BASEketball" name="q">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>