.header img { 
	float: left;
	width: 250px;
}
.header h1 {
	position: relative;
}
.posts {
	width: 60%;
	margin: 15% auto auto auto;
}
.posts .firstPost {
	text-align: left;
}
.firstPost img {
	height: 100px;
}
.archive {
	position: absolute;
	width: 20%;
	top: 75%;
}
.links {
	width: 20%;
	position: absolute;
	top: 75%;
	right: 2%;
}
