<% include ../partials/header.ejs %>

<div class="container">
  <div class="well">
    <h2><%= animal.name %></h2>
    <div>
      <small><%= animal.type %></small>
    </div>

    <a href="/animals" class="btn btn-primary">&larr; Back</a>
  </div>
</div>

<% include ../partials/footer.ejs %>