<!DOCTYPE html>
<html>
<head>
  <title>Hello world</title>
</head>
<body>
  <h1>Hello, <%= name %>!</h1>

  <% include archer.ejs %>

  <% var obsessions = ['spying', 'sarcasm', 'Kenny Loggins']; %>

  <ul>
    <% obsessions.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>

</body>
</html>